<mat-nav-list>
    <div class="profile-card">
        <div class="header">

            <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1901&q=80"
                alt="Caio Fernandes">

            <h4 class="name">Caio Fernandes</h4>
            <p>caiofernandes@email.com</p>
        </div>

        <mat-divider></mat-divider>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contato">Contate-nos</a>
    </div>






</mat-nav-list>