:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 350px;
  background: #2a2a2b;
  color: white;

}

mat-drawer-container {
  height: 100%;

}

mat-drawer-content {
  padding: 20px;
}
